// Override default variables before the import

$theme-colors: (
  "primary": yellow,
  "danger": #ff4136
);

$body-bg: white;
$text-color: black !default;

//** Global textual link color.
$link-color: black !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;

// ---------------- general ----------------
.italic{
  font-style: italic;
}

// ---------------- navbar----------------
.profile-container{
  font-size:12px;
}

// ----------------recipes----------------
.recipe-summary-container {
  display:flex;
  .recipe-summary-info, .recipe-summary-ratings {
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .recipe-summary-info {
    width: 15rem;
    padding-right:3rem;
    border: solid 1px black;
    border-width: 0 1px 0 0;
  }
  .recipe-summary-ratings {
    width: 10rem;
    padding-left:3rem;
  }
}
.simpleCategory {
  color:white;
  margin:.2em;
  border-radius: 15em;
  width:1.6em;
  font-size:75%;
  &.S{
    border-color: orange;
    color: black;
    &.active{
      background-color: orange;
      color: white;
    }
  }
  &.I{
    border-color: yellow;
    color: black;
    &.active{
      background-color: yellow;
      color:white;
    }
  }
  &.M{
    border-color: green;
    color: black;
    &.active{
      background-color: green;
      color: white;
    }
  }
  &.P{
    border-color:blue;
    color:black;
    &.active{
      background-color: blue;
      color:white;
    }
  }
  &.L{
    border-color:teal;
    color:black;
    &.active{
      background-color: teal;
      color:white;
    }
  }
  &.E{
    border-color: red;
    color:black;
    &.active{
      background-color: red;
    }
  }
}
.badge-simpleCategory {
  color:white;
  margin:.2em;
  &.S{
    background-color: orange;
  }
  &.I{
    background-color: yellow;
  }
  &.M{
    background-color: green;
  }
  &.P{
    background-color: blue;
  }
  &.L{
    background-color: teal;
  }
  &.E{
    background-color: red;
  }
}

.simpleRatings-container {
  display:flex;
}
.simpleRating {
  margin:5px;
}



// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
