// Override default variables before the import

$theme-colors: (
  "primary": yellow,
  "danger": #ff4136
);

$body-bg: white;
$text-color: black !default;

//** Global textual link color.
$link-color: black !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;



// --------------- general ----------------
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

$accent-font:'Noto Serif', serif;
$simple:rgb(84, 243, 177);
$not-simple:rgb(243, 84, 84);

h1,h2,h3,h4,h5{
  text-align: center;
  padding:3%;
}
.italic{
  font-style: italic;
}
.bold{
  font-weight: bold;
}
.card{
  width:auto;
  margin: 2% 0;
  box-shadow: 4px 6px 14px -8px rgba(0,0,0,0.75);

}
.prompt{
  margin: 5% 0;
}



// ---------------- navbar----------------
.profile-container{
  font-size:12px;
}
.navbar-brand{
  font-family:$accent-font;
}

// about
#category-list-item{
  display:flex;
  align-items: center;
  h4,p{
    margin:0;
  }
  h4{
    display:inline;
  }
}

// ----------------recipes----------------
.recipe-title{
  font-family:$accent-font;
  text-align:left;
  padding: 2% 0;
  &.details{
    text-align:center;
  }
}
// --- filter ----
#filter-container{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: space-between;

}
// --- review ----
.review-details{
  margin: 2% 0;
  box-shadow: 4px 6px 14px -8px rgba(0,0,0,0.75);
  padding:10px;
  display:flex;
  flex-direction:column;
  .overview{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-bottom:10px;
  }
  .author{
    font-size:20px;
    font-weight:bold;
  }
  .createdAt{
    font-size:14px;
  }
  .ratings{
    display:flex;
    flex-direction:row;
    align-items: baseline;
  }
  .simpleRating, .tasteRating{
    margin:0 10px;
  }
  .tasteRating{
   
  }
  .comments{
   
  }
}
.review-container{
  display:flex;
  align-items: center;
  
  flex-direction: column;
}
#continue-to-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:5% 0;
  p{

    font-weight:bold;
  }
}
// --- summary ----
.summary-card{
  width:auto;
  margin: 2% 0;
}
.simple-icon-background, .not-simple-icon-background{
  
  display:flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height:40px;
  padding: 5px;
  border-radius:20px;
  border:solid 2px grey;
  margin:3px;
}
.simple-icon-background {
  border-color:$simple;
}
.not-simple-icon-background {
  border-color:$not-simple;
}

.recipe-summary-container {
  display:flex;
  width:auto;
  .recipe-summary-info, .recipe-summary-ratings {
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow:1;
  }
  .recipe-summary-info {
    width: 15rem;
    padding-right:2rem;
    border: solid 1px black;
    border-width: 0 1px 0 0;
  }
  .recipe-summary-ratings {
    width: 10rem;
    padding-left:2rem;
  }
 
  &.details{
    justify-content: center;
  }
}
.simpleCategory {
  color:white;
  margin:.2em;
  border-radius: 15em;
  width:1.6em;
  font-size:75%;
  text-align: start;
  &.S{
    border-color: orange;
    color: black;
    &.active{
      background-color: orange;
      color: white;
    }
  }
  &.I{
    border-color: yellow;
    color: black;
    &.active{
      background-color: yellow;
      color:white;
    }
  }
  &.M{
    border-color: green;
    color: black;
    &.active{
      background-color: green;
      color: white;
    }
  }
  &.P{
    border-color:blue;
    color:black;
    &.active{
      background-color: blue;
      color:white;
    }
  }
  &.L{
    border-color:teal;
    color:black;
    &.active{
      background-color: teal;
      color:white;
    }
  }
  &.E{
    border-color: red;
    color:black;
    &.active{
      background-color: red;
    }
  }
}
.badge-simpleCategory {
  color:white;
  margin:.2em;
  &.S{
    background-color: orange;
  }
  &.I{
    background-color: yellow;
  }
  &.M{
    background-color: green;
  }
  &.P{
    background-color: blue;
  }
  &.L{
    background-color: teal;
  }
  &.E{
    background-color: red;
  }
}

.simple-ratings-container {
  display:flex;
  justify-content: center;
  
}
.simple-rating {
  margin:2px;
  flex-wrap:nowrap;
}



// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
